<html>

  <head>
    <title>
      slack Page
    </title>
    <meta charset='utf-8' />
    <link rel='apple-touch-icon' sizes='180x180' href='/fav/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/fav/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/fav/favicon-16x16.png' />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link rel='mask-icon' href='/fav/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='msapplication-TileColor' content='#da532c' />

    <meta name='theme-color' content='#ffffff' />

    <meta name='viewport' content=' viewport-fit=cover, with=device-with, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

  </head>

  <body>

    <div class='page'>
      <section class='page-section'>
        <div class='page-content hero-section'>

          <div class='hero'>
            <div class='hero-content'>
              <span class='hero-lable'>Slack Features</span>
              <h1 class='hero-title'>One platform for your team and your work</h1>
              <p class='hero-info'>All the features of Slack work together so you can, too.</p>
              <div class='hero-button'>
                <a href='#' class='button button-primary click'>Try for free</a>
                <a href='#' class='button button-secondary click'>See all features
                </a>
              </div>
              <img src='/img/hero.png' alt='' class='hero-image' />
            </div>
          </div>

          <div class='brands'>
            <img src='/img/brands/airbnb.png' alt='airbnb' class='brands-image' />
            <img src='/img/brands/intuit.png' alt='intuit' class='brands-image' />
            <img src='/img/brands/newscorp.png' alt='newscorp' class='brands-image' />
            <img src='/img/brands/onemedical.png' alt='onemedical' class='brands-image' />
            <img src='/img/brands/sonos.png' alt='sonos' class='brands-image' />
            <img src='/img/brands/target.png' alt='target' class='brands-image' />
            <img src='/img/brands/uber.png' alt='uber' class='brands-image' />
            <img src='/img/brands/va.png' alt='va' class='brands-image' />
          </div>
        </div>
      </section>

      <section class='page-section'>
        <div class='page-content features-section'>
          <h2 class='features-title'>Work more easily with everyone</h2>
          <p class='features-description'>Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>

          <div class='features-grid-4'>

            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/connect.svg')"></span>
              <strong>Slack Content</strong>
              <p>Collaborate with teams at other companies the same way you do with teams at your own.</p>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/connect.svg')"></span>
              <strong class='feat-card-title'>Channels</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/Huddles.svg')"></span>
              <strong class='feat-card-title'>Huddles</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/Clips.svg')"></span>
              <strong class='feat-card-title'>Clips</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/Canvas.svg')"></span>
              <strong class='feat-card-title'>Canvas</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/Messaging.svg')"></span>
              <strong class='feat-card-title'>Messaging</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
            <div class='feat-card'>
              <span class='icon feat-icon' style="background-image:url('/svg/feature/Accessibility.svg')"></span>
              <strong class='feat-card-title'>Accessibility</strong>
              <a href='#' class='icon icon-arrow click feat-link'></a>
            </div>
          </div>
          <div class='features-section2'>
            <div class='position-title'>
              <h2 class='features-title'>What you need, when you need it</h2>
              <p class='features-description'>Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
            </div>
            <div class='features-grid-3'>
              <div class='feat-card'>
                <span class='icon feat-icon' style="background-image:url('/svg/feature/Frame.svg')"></span>
                <strong>Apps and Integrations</strong>
                <p>Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
                <a href='#' class='icon icon-arrow click feat-link'></a>
              </div>
              <div class='feat-card'>
                <span class='icon feat-icon' style="background-image:url('/svg/feature/Frame2.svg')"></span>
                <strong>Workflow Builder</strong>
                <p>Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                <a href='#' class='icon icon-arrow click feat-link'></a>
              </div>
              <div class='feat-card'>
                <span class='icon feat-icon' style="background-image:url('/svg/feature/Frame3.svg')"></span>
                <strong>Search</strong>
                <a href='#' class='icon icon-arrow click feat-link'></a>
              </div>
              <div class='feat-card'>
                <span class='icon feat-icon' style="background-image:url('/svg/feature/Frame4.svg')"></span>
                <strong>File sharing</strong>
                <a href='#' class='icon icon-arrow click feat-link'></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class='page-section'>
        <div class='page-content deliver-section'>
          <img src='/img/img-deliveroo.png' alt='img-deliveroo' class='deliver-img' />
          <div class='deliver-info'>
            <p class='deliver-text'>“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.”</p>
            <span class='deliver-brands' style="background-image:url('/svg/delivero.svg')"></span>
            <span class='deliver-copyright'>Will Sprunt, CIO, Deliveroo</span>
          </div>
        </div>

      </section>

      <footer class='page-section'>
        <div class='page-content footer-section'>
          <div class='footer-title'>Explore more about working in Slack</div>
          <div class='card-block'>
            <div class='card'>
              <img src='/img/slack-101.png' alt='slack-101' class='card-img' />
              <span class='card-info'>Slack Tutorials</span>
              <span class='card-title'>Slack 101</span>
              <a href='#' class='link-button'>Learn more</a>
            </div>
            <div class='card'>
              <img src='/img/slack-vs-email.png' alt='slack-vs-email' class='card-img' />
              <span class='card-info'>Slack vs. Email</span>
              <span class='card-title'>An easier, more organized way to work</span>
              <a href='#' class='link-button'>Learn more</a>
            </div>
            <div class='card'>

              <img src='/img/customers.png' alt='customers' class='card-img' />
              <span class='card-info'>Customer Stories</span>
              <span class='card-title'>How Fastly uses Slack Connect to wow enterprise customers</span>
              <a href='#' class='link-button'>Learn more</a>

            </div>

          </div>
        </div>

      </footer>

    </div>

  </body>

</html>