<main class='p-5'>
  <div class='page-content'>
    <div class="page-block">
    <header class='header row g-0'>
        <div class="col-3">
         {{>logo}}
        </div>      
        <nav class='header-nav col-9'>
            <div class="header-nav-right">
                {{>nav header=header }}
            </div>
        </nav>
    </header>    
    {{> divider}}
  </div>


  <div class="page-block">
     {{#with hero}}
        {{>hero data=hero}} 
     {{/with}}
  </div>


  <div class="page-block">
    <main class="row g-0 plans">

        {{#each plans}}
        <div class="col plans-card">
            {{>card data=this}}
        </div>
        {{/each}}
       
    </main>
  </div>





    <div class="page-block">
        {{> divider}}
        <footer class="row g-0 footer">
            <div class="col-3">
                {{>logo}}
                <span class="footer-copyright">Copyright 2023-2024</span>
            </div>
            {{#each footer}}
                <div class="col-3">
                    <span class="footer-title ">{{title}}</span>
                    {{>nav header=links isVertical=true}}
                </div>
            {{/each}}
            
        </footer>
    </div>

  </div>

</main>